body {
    background-image: url("./images/ultracore2.jpeg");
}
/* fieldset{
    background-color: white;
} */
.formulario {
    text-align: center;

}
h1 {
    color: white;
}
div {
    color: white;
}